VITE_SUPABASE_URL= https://oehhshrmpydjyfpmxwso.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY= sb_publishable_aLRXtU0z-2olbYRsalcvvw__tbsSE9q

# 식약처 식품영양성분 OpenAPI 일반 인증키(Decoding 권장)
# VITE_ 접두사를 붙이지 않아야 브라우저에 노출되지 않습니다.
MFDS_API_KEY= 7ixJogqd5GJASQJ/c1HOogADorw5w6cTE+PnBfzU2/fLarNEGDnG4FuoQtH27bbCS3gN8VANV2RuRtHxh+1xvg==
